.hover-btn:hover{
   color:rgb(255, 255, 255) !important;
   font-weight: 600;
   /* background-color: rgba(208, 211, 27, 0.199); */
   transform: scale(1.2);
    transition: all 0.5s;
}

.text-light-blue{
    color:oklch(.554 .046 257.417)
}

.bg-light-blue{
  background-color:oklch(.554 .046 257.417)
}

.hover-btn-2:hover{
    background-color: oklch(.968 .007 247.896);
    color:black !important ;
}

.n-1{
    backdrop-filter: blur(10px)
}

.hover-btn-3:hover{
    transform: scale(1.4 );
    transition: all 0.5s;

    /* transform: translatey(-10px ); */
}

.hover_img:hover{
    margin: 0;
    padding: 0;
    border:4px dotted lightblue !important;
}

.logo{     
    display:inline-block; 
}

.logo:after {
    display: block;
    content: '';
    border-bottom: solid 3px #ffffff;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.logo:hover:after {
    transform: scaleX(1);
}

.us:after{
    transform-origin: 0% 50%;
}

.us:hover:after {
    transform: scaleX(1);
}

.us:after {
    display: block;
    content: '';
    border-bottom: solid 3px #ffffff;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.us{     
    display:inline-block; 
}

.skill-card {
    background-image: url('img/bg2.webp'); 
    background-size: cover;
    background-position: center;
    transition: transform 0.3s;
}

.skill-card:hover {
    transform: scale(1.05);
}

.skill-img {
    height: 70px;
   
}
 
.s-1:hover{
    border:1px solid rgb(33 150 243) !important;
    box-shadow: rgb(33 150 243) 0px 10px 20px, rgb(33 150 243) 0px 6px 6px;
    transform: translateY(-10px);
    transition: all 0.5s;
}
.s-2:hover{
    border:1px solid rgb(255 75 0) !important;
      box-shadow: rgb(255 75 0) 0px 10px 20px, rgb(255 75 0) 0px 6px 6px;
     transform: translateY(-10px);
    transition: all 0.5s;
}
.s-3:hover{
    border:1px solid rgb(101 154 210) !important;
    box-shadow: rgb(101 154 210) 0px 10px 20px, rgb(101 154 210) 0px 6px 6px;
     transform: translateY(-10px);
    transition: all 0.5s;
}
.s-4:hover{
    border:1px solid rgb(255 193 7) !important;
    box-shadow: rgb(255 193 7) 0px 10px 20px, rgb(255 193 7) 0px 6px 6px;
     transform: translateY(-10px);
    transition: all 0.5s;
}
.s-5:hover{
    border:1px solid rgb(0 0 0) !important;
    box-shadow: rgb(0 0 0) 0px 10px 20px, rgb(0 0 0) 0px 6px 6px;
     transform: translateY(-10px);
    transition: all 0.5s;
}
.s-6:hover{
    border:1px solid rgb(71 146 65) !important;
    box-shadow: rgb(71 146 65) 0px 10px 20px, rgb(71 146 65) 0px 6px 6px;
     transform: translateY(-10px);
    transition: all 0.5s;
}
.s-7:hover{
    border:1px solid rgb(90 218 253) !important;
    box-shadow: rgb(90 218 253) 0px 10px 20px, rgb(90 218 253) 0px 6px 6px;
     transform: translateY(-10px);
    transition: all 0.5s;
}
.s-8:hover{
    border:1px solid rgb(238 80 50) !important;
    box-shadow: rgb(238 80 50) 0px 10px 20px, rgb(238 80 50) 0px 6px 6px;
     transform: translateY(-10px);
    transition: all 0.5s;
}
.s-9:hover{
    border:1px solid rgb(0, 57, 126) !important;
    box-shadow: rgb(0, 57, 126) 0px 10px 20px, rgb(0, 57, 126) 0px 6px 6px;
     transform: translateY(-10px);
    transition: all 0.5s;
}
.s-10:hover{
    border:1px solid rgb(94 59 127) !important;
    box-shadow: rgb(94 59 127) 0px 10px 20px, rgb(94 59 127) 0px 6px 6px;
     transform: translateY(-10px);
    transition: all 0.5s;
}
.s-11:hover{
    border:1px solid rgb(120 207 245) !important;
    box-shadow: rgb(120 207 245) 0px 10px 20px, rgb(120 207 245) 0px 6px 6px;
     transform: translateY(-10px);
    transition: all 0.5s;
}
.s-12:hover{
    border-top:1px solid rgb(38 130 255) !important;
    border-left:1px solid rgb(38 130 255) !important;
    border-bottom:1px solid rgb(255 205 0) !important;
    border-right:1px solid rgb(255 205 0) !important;
    box-shadow: rgb(38 130 255) 0px 10px 20px,rgb(255 205 0) 0px 6px 6px , rgb(38 130 255) 0px 10px 20px,rgb(255 205 0) 0px 6px 6px;
     transform: translateY(-10px);
    transition: all 0.5s;
}




 body {
      position: relative;
      height: 100%;
    }

    body {
      background: #000;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #fff;
      margin: 0;
      padding: 0;
    }

    swiper-container {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    swiper-slide {
      background-position: center;
      background-size: cover;
      width: 500px;
      height: 500px;
    }

    swiper-slide img {
      display: block;
      width: 100%;
    }


.hover-btn-4:hover{
    box-shadow: oklch(0.88 0.13 89.98) 0px 10px 20px, oklch(0.88 0.13 89.98) 0px 6px 6px;
    border: 1px solid oklch(0.88 0.13 89.98);
    border-radius: 5px;
    
}

.hover-btn-5:hover{
    box-shadow: oklch(0.6 0.19 284.23) 0px 10px 20px, oklch(0.6 0.19 284.23) 0px 6px 6px;
    border:1px solid oklch(0.6 0.19 284.23) ;
    border-radius: 5px;
}

.hover-btn-6:hover{
    box-shadow: oklch(0.33 0.06 269.51) 0px 10px 20px, oklch(0.33 0.06 269.51) 0px 6px 6px;
    border: 1px solid oklch(0.33 0.06 269.51);
    border-radius: 5px;
}

.hover-btn-7:hover{
    box-shadow:lch(29.56% 19.6 241.76) 0px 10px 20px, hsl(197.26deg 61.34% 23.33%) 0px 6px 6px;
    border: 1px solid lch(29.56% 19.6 241.76);
    border-radius: 5px;
}

.hover-card-1:hover{
    transform:translateY(-20px) !important;
        box-shadow:#58595b 0px 10px 20px, #58595b 0px 6px 6px;
    border: 1px solid #58595b !important;
    transition: all 0.5s;
   
}

.hover-card-2:hover{
    transform:translateY(-15px) !important;
     box-shadow:#2e2f93 0px 10px 20px, #2e2f93 0px 6px 6px;
    border: 1px solid #2e2f93 !important    ;
    transition: all 0.5s; 
}

.bg-transparent{
    background-color: transparent;
}

.hover-card-3:hover{
    transform:translateY(-20px) !important;
     box-shadow:oklch(0.66 0.06 205.83) 0px 10px 20px, oklch(0.66 0.06 205.83) 0px 6px 6px;
    border: 1px solid oklch(0.66 0.06 205.83) !important;
    transition: all 0.5s; 
}
.hover-card-4:hover{
    transform:translateY(-20px) !important;
     box-shadow:oklch(0.68 0.06 298.94) 0px 10px 20px, oklch(0.68 0.06 298.94) 0px 6px 6px;
    border: 1px solid oklch(0.68 0.06 298.94)!important;
    transition: all 0.5s; 
}
.hover-card-5:hover{
    transform:translateY(-20px) !important;
     box-shadow:oklch(0.56 0.07 220.65) 0px 10px 20px, oklch(0.56 0.07 220.65) 0px 6px 6px;
    border: 1px solid oklch(0.56 0.07 220.65) !important;
    transition: all 0.5s; 
}